In [1]:
with open('dwh.cfg') as a:
    for l in a:
        print(l)

[CLUSTER]

HOST=redshift-cluster-1.cvlyfsynx5gj.us-west-2.redshift.amazonaws.com

DB_NAME=dev

DB_USER=awsuser

DB_PASSWORD=JFk.0123

DB_PORT=5439



[IAM_ROLE]

ARN=arn:aws:iam::424404036735:role/myRedshiftRole



[S3]

LOG_DATA='s3://udacity-dend/log_data'

LOG_JSONPATH='s3://udacity-dend/log_json_path.json'

SONG_DATA='s3://udacity-dend/song_data'

In [2]:
import configparser
import psycopg2
from sql_queries import create_table_queries, drop_table_queries

In [3]:
config = configparser.ConfigParser()
config.read('dwh.cfg')

['dwh.cfg']

In [15]:
print("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))

host=jdbc:redshift://redshift-cluster-1.cvlyfsynx5gj.us-west-2.redshift.amazonaws.com:5439 dbname=dev user=awsuser password=JFk.0123 port=5439

In [4]:
def drop_tables(cur, conn):
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit()


def create_tables(cur, conn):
    for query in create_table_queries:
        cur.execute(query)
        conn.commit()


def main():
    config = configparser.ConfigParser()
    config.read('dwh.cfg')

    conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
    cur = conn.cursor()

    drop_tables(cur, conn)
    create_tables(cur, conn)

    conn.close()


if __name__ == "__main__":
    main()

In [3]:
for q in create_table_queries:
    print(q+"\n")

CREATE TABLE IF NOT EXISTS staging_events(numsongs INT ,artist_id VARCHAR(18),artist_latitude NUMERIC(8,5),artist_longitude NUMERIC(8,5),artist_location VARCHAR(30),artist_name VARCHAR(100),song_id VARCHAR(18),title VARCHAR(200),duration NUMERIC(8,5),year INT);

CREATE TABLE IF NOT EXISTS staging_songs(artist VARCHAR(100),auth VARCHAR(30),first_name VARCHAR(20),gender CHAR(1),item_in_session INT,last_name VARCHAR(20),length NUMERIC(8,5),level CHAR(4),location VARCHAR(30),method VARCHAR(10),page VARCHAR(30),registration BIGINT,session_id INT,song VARCHAR(200),status INT,ts BIGINT,user_agent VARCHAR(200),user_id INT);

CREATE TABLE IF NOT EXISTS songplays(songplay_id SERIAL PRIMARY KEY,start_time TIMESTAMP NOT NULL,user_id INT NOT NULL,song_id VARCHAR(18),artist_id VARCHAR(18),session_id INT,location VARCHAR(65),user_agent VARCHAR(250));

CREATE TABLE IF NOT EXISTS users(user_id INT PRIMARY KEY,first_name VARCHAR(20),last_name VARCHAR(20),gender CHAR(1),level char(4) NOT NULL);

CREATE TABLE IF NOT EXISTS songs(song_id VARCHAR(18) PRIMARY KEY,title VARCHAR(200),artist_id VARCHAR(18),year INT,duration NUMERIC(8,5),FOREIGN KEY (artist_id) REFERENCES artists(artist_id));

CREATE TABLE IF NOT EXISTS artists(artist_id VARCHAR(18) PRIMARY KEY,name VARCHAR(100) NOT NULL,location VARCHAR(30),latitude NUMERIC(8,5),longitude NUMERIC(8,5));

CREATE TABLE IF NOT EXISTS time(start_time TIMESTAMP PRIMARY KEY,hour INT,day INT,week INT,month INT,year INT,weekday INT);